.green {
    color: var(--primary);
}

.content {
    background-color: transparent;
    margin: auto;
    margin-top: 64px;
    margin-bottom: 64px;
    padding: 16px;
    width: 900px;
    height: 500px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

